.example-fill-remaining-space {
    flex: 1 1 auto;
}
.navbar{
    background-color: green;
    border: 2px solid black;
}

.navbar h1{
    margin-right: 60%;
    color: white;
}
.nav-btn {
    margin-right: 0.5em;
    background-color: darkgreen;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}