<div class="outerLogin">
<div class="login">
  <div class="container">
    <div class="col-md-6 offset-md-6">
      <h1>Login.</h1>
      <h4>Use a local account to login.</h4>
      <hr>
      <form id="loginInfo" #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="loginForm">
        <div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" type="email" required />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" required />
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button class="nav-btn" type="submit">Login</button>
        <br />
        <br />
        <br />
      </form>
    </div>
  </div>
</div>
</div>